*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body, html{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    gap: 100px;
}
img{
    width: 150px;
    height: auto;
}